:root {
    --cornerSize: 8px;
    --smallCornerSize: 4px;
    --defaultPadding: 8px;
    --pageBackBG: #333333;
    --pageForeBG: #2b2b2b;
    --navBarColor: #1b1a1b9d;
    --mainText: #fffdfdb3;
    --secondaryText: #ffffff6f;
    --buttonText: #ffffffa0;
    --accentColor: #FF7060;
    --borderColor: #1d1d1d;
    --windowBorderColor: rgba(255, 255, 255, 0.120);
    --windowTopBorderColor: rgba(255, 255, 255, 0.205);
    --tableAccent: #1d1d1d;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  text-align: left;
  background-color: var(--navBarColor);
  filter: drop-shadow(0px 0px 5px #0000005a);
  padding: var(--defaultPadding);
  -webkit-backdrop-filter: blur(20px); /*fixes blur for Safari*/
  backdrop-filter: blur(20px);
  border-bottom: #ffffff53;
  border-bottom-width: 1px;
  border-bottom-style: outset;
  display: flex;
  transition: 0.5s;
  cursor: default;
}
.navButton{
  background: none;
  color: var(--mainText);
  font-family: sfProDisplay;
  border: none;
  margin-right: var(--defaultPadding);
  font-size: 14px;
}
.navButton:hover{
    color: white;
}
.navButton:active{
    color: var(--accentColor);
}

body{
  background-color: var(--pageBackBG);
  padding: 0px;
  margin: 0px;
  font-family: sfProDisplay;
  color: var(--mainText);
}
.poster{
    padding-top: 40px;
    height: 950px;
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.233);
    background: linear-gradient(352deg, rgba(26,26,26,1) 0%, rgba(46,30,28,1) 100%); 
}
.intuitive{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 128px;
}
.fast{
    padding-top: 32px;

    background-color: rgb(26, 26, 26);
}
.light{
    padding-top: 32px;
    background-color: white;
    color: black;
    
}
.wideIN{
    letter-spacing: 250px;
    transition: 5s
}
.wideNormal{
    letter-spacing: 17px;
    font-weight: 50;
}
.blurry{filter: blur(20px) !important}
.brand{
    font-size: 100px;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    background-color: rgba(255, 0, 0, 0);
    filter: none;
    transition: 1s;
}

.scroll{
    background-color: rgba(14, 14, 14, 0);
    height: 32px;
    overflow: hidden;
    font-size: 24px;
}

.hero{
    height: 967px;
    width: 1207px;
    background-image: url("assets/hero.png");
    margin-top: 50px;
    margin-right: -200px;
    margin-left: auto;
}
.hero.wide{
    width: 1908px;
    background-image: url("assets/heroWide.png");

}

h1{
    width: 100%;
    text-align: center;
    font-family: sfProDisplay;
    font-size: 48px;
    font-weight: lighter;
    margin-bottom: 0px;
}
.hidden{
    color: #ffffff0c;
    background: rgb(255,112,96);
    background: linear-gradient(90deg, rgba(255,112,96,1) 30%, rgba(255,190,96,1) 70%); 
    background-repeat: no-repeat;
    background-size: 20% 100%;
    background-clip: text;        
    transition: 3s;
}
.show{
background-size: 80% 100%;
}


.teacher{
    margin-top: 64px;
    filter: grayscale();
    transition: 0.5s;
}
.teacher:hover{
    filter: none;
}
::-moz-selection {
  color: var(--accentColor);
  background: #362929;
}

::selection {
  color: var(--accentColor);
  background: #362929;
}

.logo{
  font-family: 'sfProDisplay';
  font-weight: bolder;
  transition: 1s;
  font-size: 25px;
  width: 80px;
}
.logo:hover{
  color: var(--accentColor);
  transition: 1s;
  cursor: pointer;
}
